@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}


@font-face {
  font-family: "castledownHeavy";
  src: url("./Fonts/castledown-heavy/castledown-heavy.ttf");
}

@font-face {
  font-family: "clashBold";
  src: url("./Fonts/clash/ClashDisplay-Bold.woff");
}

@font-face {
  font-family: "clashMedium";
  src: url("./Fonts/clash/ClashDisplay-Medium.woff");
}

@font-face {
  font-family: "clashRegular";
  src: url("./Fonts/clash/ClashDisplay-Regular.woff");
}

@font-face {
  font-family: "clashSemibold";
  src: url("./Fonts/clash/ClashDisplay-Semibold.woff");
}

@theme{
  --font-onest: "Onest", sans-serif;
}


@layer utilities {

  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}


  @layer utilities {
    .marquee-animation {
      animation: marquee-linear 2s linear infinite both;
    }

    @keyframes marquee-linear {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(-100%);
      }
    }
  }

@layer utilities {
  .marquee-animation-desktop {
    animation: marquee-linear-desktop 3s linear infinite both;
  }

  @keyframes marquee-linear-desktop {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(100%);
    }
  }
}


